<div class="head-edit">
  <h2 mat-dialog-title>Edit</h2>
  <div>
    <button mat-icon-button color="primary" (click)="closeModal($event)">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content>
  <h4>Person Account</h4><br>
  <p><span><b><i>Email: </i></b></span>{{data.email}}</p><br>
  <form class="example-form" #f="ngForm">
    <div class="body-checker">
      <div class="input-field-checker">
        <mat-form-field class="example-full-width">
          <input
            matInput
            name="name"
            id="name"
            type="text"
            placeholder="Name"
            [(ngModel)]="data.name"
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            name="surname"
            id="surname"
            value="data.lname"
            placeholder="Surname"
            [(ngModel)]="data.lname"
          >
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput
               [disabled]="roleSelect === 'manager' || roleSelect === 'admin'"
               name="manager"
               placeholder="Manager"
               [matAutocomplete]="auto"
               [(ngModel)]="managerControl"
               (input)="filteredManagerInput($event.target.value)"
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredManager" [value]="state.text">
            <span>{{ state.text }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="body-checker">
      <mat-form-field>
        <mat-select
          name='role'
          [(ngModel)]="roleSelect"
          placeholder="Choose role"
          [disabled]="roleSelect==='admin'"
        >
          <mat-option>None</mat-option>

          <mat-option value="department head">Employee</mat-option>
          <mat-option value="employee">Employee</mat-option>
          <mat-option value="lead">Lead</mat-option>
          <mat-option value="manager">Manager</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select name='leads'
                    placeholder="Leads"
                    [(ngModel)]="roleSelect === 'manager' || roleSelect === 'admin' ? '' : selectLeads"
                    [disabled]="roleSelect === 'manager' || roleSelect === 'admin'"
                    multiple>
          <mat-option *ngFor="let lead of leads" [value]="lead.email">
            <span>{{lead.name}} {{lead.surname}}</span>
            <span>{{lead.email}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="head-edit">
  <button mat-button (click)="resultHandler(f)">Update</button>
  <button mat-button mat-dialog-close (click)="onNoClick()"> Close</button>
</mat-dialog-actions>
