<div class="header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>


<div class="container mat-elevation-z8" >
  <mat-table #table [dataSource]="listUser" matSort>
    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let element"><img [src]="element.avatar" alt="avatar"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="fname">
      <mat-header-cell *matHeaderCellDef mat-sort-header="fname"> First Name</mat-header-cell>
      <mat-cell *matCellDef="let element"><span> {{element.fname}}</span></mat-cell>
    </ng-container>


    <ng-container matColumnDef="lname">
      <mat-header-cell *matHeaderCellDef mat-sort-header="lname"> Last Name</mat-header-cell>
      <mat-cell *matCellDef="let element"><span> {{element.lname}}</span></mat-cell>
    </ng-container>


    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> <span>{{element.email}}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="leads">
      <mat-header-cell *matHeaderCellDef mat-sort-header="leads"> Leads</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let lead of element.leads">
            {{lead}}
          </li>
        </ul>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
      <mat-cell *matCellDef="let element"><span>{{element.role}}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <button mat-raised-button color="basic" (click)='editUser(element)'>
            <mat-icon>settings</mat-icon>
            Edit
          </button>
          <button mat-raised-button color="warn" (click)='deleteUser(element)'>
            <mat-icon>clear</mat-icon>
            Delete
          </button>
        </div>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="listUserHead"></mat-header-row>
    <mat-row *matRowDef="let row; columns: listUserHead;"></mat-row>


  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="15"
                 [pageSizeOptions]="[15, 30, 45]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>

