<div>
  <mat-card >
    <mat-card-title>
      Sort list
    </mat-card-title>
    <mat-card-content>
      <div *ngFor="let block of mainList" >
        <mat-expansion-panel [dragula]='"bag-one"' [dragulaOptions]="options" [dragulaModel]='items' >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div style="height: 50px">
                <img [src]="block.avatar" alt="avatar" style="border-radius: 50%; height: inherit; width:auto;">
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div style="padding: 10px">
                {{block.name}} {{block.surname}}
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-mat-table-manager [source]="block.employees" [user]="userList"></app-mat-table-manager>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
    <mat-card-actions>
     <div class="action-buttons">
       <button
         (click)="closeDialog()"
         mat-raised-button color="warn">
         Close
       </button>
       <button
         (click)="generatePdf()"
         mat-raised-button color="primary">
         PDF
       </button>
     </div>
    </mat-card-actions>
  </mat-card>
</div>
