<div>
  <mat-card>
    <mat-card-title>
      Sort list
    </mat-card-title>
    <mat-card-content class="container">
      <table id="table" #table>
        <thead>
        <tr>
          <th *ngFor="let head of headers">{{head}}</th>
        </tr>
        </thead>
        <tbody [dragula]='"first-bag"'>
        <tr *ngFor="let lead of mainList;">
          <td>{{lead.name + ' ' + lead.surname}}</td>
          <td>
            <table>
              <tr *ngFor="let message of lead.employees">
                <td>{{message.date}}</td>
                <td>{{giveDetails(message.employee)}}</td>
                <td>{{message.message}}</td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <div class="action-buttons">
        <button
          (click)="closeDialog()"
          mat-raised-button color="warn">
          Close
        </button>
        <button
          (click)="generatePdf()"
          mat-raised-button color="primary">
          Generate
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
