<h2>Login page !</h2>
<form #formLogin="ngForm">
  <mat-form-field>
    <input matInput
           id="email"
           type="email"
           placeholder="Your Email"
           name="email"
           size="26"
           minlength="8"
           maxlength="52"
           required
           [(ngModel)]="paramsEmail">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input
      matInput
      id="password"
      type="password"
      placeholder="Your Password"
      size="36"
      minlength="8"
      maxlength="64"
      name="password"
      required
      ngModel>
  </mat-form-field>
  <br>
  <button mat-button (click)="submitForm(formLogin)">
    <mat-icon>input</mat-icon>
    Login
  </button>
</form>
<h2 *ngIf="errmsg"
  style="
  padding: 1rem;
  margin: auto;
  display: inline-block;
  color: brown;
   font-family: 'Roboto' , 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-weight: bold"
>{{errmsg}}</h2>
<form class="auth">
  <button mat-raised-button color="warn" (click)="authGoogle()">Google</button>
  <br>
  <button mat-raised-button color="primary" (click)="authFacebook()"> Facebook</button>
  <br>
</form>
