<h1>
Login page !
</h1>
<form (ngSubmit)="submitForm(formLogin)" #formLogin="ngForm">
  <label>Email</label>
  <input
    id="email"
    type="email"
    placeholder="Your Email"
    name="email"
    size="26"
    minlength="8"
    maxlength="52"
    required
    ngModel>
  <br>
  <label>Password</label>
  <input
    id="password"
    type="password"
    placeholder="Your Password"
    size="36"
    minlength="8"
    maxlength="64"
    name="password"
    required
    ngModel>
  <br>
  <input type="submit">
</form>
