<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">

    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="" > Home </a>
      <a mat-tab-link *ngIf='!isAuth' routerLink="/login"  > Login </a>
      <a mat-tab-link *ngIf='!isAuth' routerLink="/register" > Register </a>
      <a mat-tab-link *ngIf='isAuth' (click)="toAuth()">Log Out</a>
      <a mat-tab-link routerLink="/tima" > Not Found </a>

    </nav>







  <router-outlet (auth)="toAuth($event)"></router-outlet>

</div>

