<form class="form-radio-button" #f="ngForm">
  <div class="control">
    <mat-radio-group class='flex-radio-buttons'
                     labelPosition="after"
                     name="orientation"
                     [(ngModel)]="options.orientation">
      <mat-radio-button value="portrait">Portrait</mat-radio-button>
      <mat-radio-button value="landscape">Landscape</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="control">
    <mat-form-field class="control">
      <input type="text"
             matInput
             placeholder="Email Receiver"
             [(ngModel)]="options.receiver"
             name="receiver">

    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="submitForm(f)"> Submit</button>
  <button mat-raised-button color="warn" (click)="generatePDF()">GENERATE</button>

</form>
