<div>
  <form #form='ngForm'>
    <div>
      <h3>Data Filter </h3>
      <mat-form-field class="full-width">
        <input matInput
               name="minSelectDate"
               [min]="minDate"
               [max]="maxDate"
               [matDatepicker]="picker"
               placeholder="Choose a date"
               [(ngModel)]="minSelectDate"
               required
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput
               required
               name="maxSelectDate"
               [min]="minSelectDate"
               [max]="maxDate"
               [matDatepicker]="picker2"
               placeholder="Choose a date"
               [(ngModel)]="maxSelectDate"
        >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="subFormReviews(form.value)"> Filter</button>
    </div>
  </form>
</div>

<div *ngFor="let block of mainList">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img [src]="block.avatar" alt="avatar" style="height: 50px">
      </mat-panel-title>
      <mat-panel-description>
        {{block.name}} {{block.surname}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-mat-table-manager [source]="block.employees"></app-mat-table-manager>
  </mat-expansion-panel>

</div>

