<mat-card>
  <div class="boxName">
    <div>
      <img #avatarImage [src]="avatarURL" alt="Your Avatar">
    </div>
    <mat-card>
      <h2> {{namePerson}} {{surnamePerson}}</h2>
    </mat-card>

  </div>
  <mat-card-title> Settings</mat-card-title>
  <mat-card-subtitle>You can change your avatar and person data</mat-card-subtitle>
  <mat-accordion>
    <mat-expansion-panel [expanded]="isExpanded"  >
      <mat-expansion-panel-header>
        <mat-panel-title>
          New personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your new name and surname
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form #formChangePersonData="ngForm">
        <mat-form-field>
          <input matInput
                 type="text"
                 placeholder="First Name"
                 name="fname"
                 size="12"
                 minlength="3"
                 maxlength="40"
                 required
                 [value]="namePerson"
                 ngModel>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 type="email"
                 placeholder="Last Name"
                 name="lname"
                 size="26"
                 maxlength="40"
                 required
                 [value]="surnamePerson"
                 ngModel>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitForm(formChangePersonData)"> Update </button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel class="formBox" [expanded]="isExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          You can change avatar
        </mat-panel-title>
        <mat-panel-description>
          You can upload file less then 2Mb
        </mat-panel-description>
        <p-fileUpload
          (onUpload)="uploadFile($event)"
          withCredentials="true"
          mode="basic"
          chooseLabel="Browse"
          name="myfile"
          [url]="apiChangeRoute"
          auto="auto"></p-fileUpload>
        <button mat-button (click)="uploadFileSub()"> Update </button>

        <!--maxFileSize="2000000"-->
      </mat-expansion-panel-header>



    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
