<form #formChangePassword="ngForm">
  <div class="column-pass">
    <mat-form-field>
      <input matInput
             type="password"
             placeholder="Previous password"
             name="oldpassword"
             size="12"
             minlength="3"
             maxlength="40"
             required
             [(ngModel)]="prevPassword">
      <mat-hint>Wrote correctly your old password</mat-hint>
      <mat-error *ngIf="notEqual">
        Please enter a valid password
      </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput
             type="password"
             placeholder="New password"
             name="newpassword"
             size="12"
             minlength="3"
             maxlength="40"
             required
             #pass
             ngModel>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="password"
             placeholder="Replay new password"
             name="newpassword2"
             size="12"
             minlength="3"
             maxlength="40"
             required
             #pass2
             ngModel>
    </mat-form-field>
  </div>

  <button
    mat-raised-button color="primary"
    (click)="submitForm(formChangePassword)"
    [disabled]="pass.value !== pass2.value || formChangePassword.invalid"
  > Update</button>
</form>
