<mat-card>
  <mat-card-title>
    Register to Site!
  </mat-card-title>
  <form  #formRegister="ngForm">
    <mat-form-field>
      <input matInput
             type="text"
             placeholder="First Name"
             name="fname"
             size="12"
             minlength="3"
             maxlength="40"
             required
             ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput
             type="email"
             placeholder="Last Name"
             name="lname"
             size="26"
             maxlength="40"
             required
             ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput
             type="email"
             placeholder="Email"
             name="email"
             size="26"
             minlength="8"
             maxlength="52"
             required
             ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput
             type="password"
             placeholder="Password"
             size="36"
             minlength="8"
             maxlength="64"
             name="password"
             required
             ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Check Password"
        size="36"
        minlength="6"
        maxlength="64"
        name="password2"
        required
        ngModel>
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" type="submit" (click)="submitForm(formRegister)">Send</button>

  </form>
  <h1 *ngIf='stateData !== false'> {{stateData}}</h1>

</mat-card>
